org.bigtester.ate.core/src/main/resources/org/bigtester/ate/xmlschema/ate.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.bigtester.org/schema/ate"
	xmlns:tool="http://www.springframework.org/schema/tool" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:beans="http://www.springframework.org/schema/beans"
	targetNamespace="http://www.bigtester.org/schema/ate" xmlns:tns="http://www.bigtester.org/schema/ate"
	elementFormDefault="qualified" attributeFormDefault="unqualified">

	<xsd:import namespace="http://www.springframework.org/schema/beans" />

	<xsd:element name="TestProject">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="beans:identifiedType">
					<xsd:choice minOccurs="1" maxOccurs="unbounded">
						<xsd:element ref="TestSuite" />
					</xsd:choice>
					<xsd:attribute name="stepThinkTime" type="xsd:int" />
					<xsd:attribute name="globalInitXmlFile" type="xsd:string"
						use="required" />
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="TestSuite">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="beans:identifiedType">
					<xsd:choice minOccurs="1" maxOccurs="unbounded">
						<xsd:element ref="XmlTestCase" />
					</xsd:choice>
					<xsd:attribute name="suiteName" type="xsd:string" />
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="XmlTestCase">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="beans:identifiedType">
					<xsd:attribute name="testCaseName" type="xsd:string" />
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="GenericSystemLogger">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="beans:identifiedType">
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="TestDatabaseInitializer">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="beans:identifiedType">
					<!-- Here we re-use Spring elements and attributes -->
					<xsd:group ref="beans:beanElements" />
					<xsd:attributeGroup ref="beans:beanAttributes"></xsd:attributeGroup>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<!-- above for testproject.xml -->

	<!-- following for TestCase.xml -->

	<xsd:complexType name="AbstractWebDriverBaseType"
		abstract="true">
		<xsd:complexContent>
			<xsd:extension base="beans:identifiedType">

			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="BaseElementActionType">
		<xsd:complexContent>
			<xsd:extension base="beans:identifiedType">
				<xsd:group ref="beans:beanElements" />
				<xsd:attributeGroup ref="beans:beanAttributes"></xsd:attributeGroup>
				<xsd:attribute name="dataValue" type="xsd:string">
					<xsd:annotation>
						<xsd:appinfo>
							<tool:annotation kind="ref">
								<tool:expected-type
									type="org.bigtester.ate.model.data.StepInputDataValue" />
							</tool:annotation>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="MyFireFoxDriverType">
		<xsd:complexContent>
			<xsd:extension base="AbstractWebDriverBaseType">
				<xsd:attribute name="profileName" type="xsd:string" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>


	<xsd:complexType name="PageModelBaseType" abstract="false">
		<xsd:complexContent>
			<xsd:extension base="beans:identifiedType">
				<!-- Here we re-use Spring elements and attributes -->
				<xsd:group ref="beans:beanElements" />
				<xsd:attributeGroup ref="beans:beanAttributes"></xsd:attributeGroup>
				<xsd:attribute name="myWebDriver" type="xsd:string"
					use="required">
					<xsd:annotation>
						<xsd:appinfo>
							<tool:annotation kind="ref">
								<tool:expected-type
									type="org.bigtester.ate.model.page.atewebdriver.IMyWebDriver" />
							</tool:annotation>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>

		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="BasePageObjectType">
		<xsd:complexContent>
			<xsd:extension base="beans:identifiedType">
				<xsd:group ref="beans:beanElements" />
				<xsd:attributeGroup ref="beans:beanAttributes"></xsd:attributeGroup>
				<xsd:attribute name="dataFile" type="xsd:string" />

			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="PageObjectType">
		<xsd:group ref="pageObjectGroup" minOccurs="1" maxOccurs="unbounded" />
	</xsd:complexType>

	<xsd:group name="pageObjectGroup">
		<xsd:choice>
			<xsd:element ref="lastPage" />
			<xsd:element ref="homePage" />
			<xsd:element ref="regularPage" />
		</xsd:choice>
	</xsd:group>

	<xsd:complexType name="LastpageType">
		<xsd:complexContent>
			<xsd:extension base="BasePageObjectType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="HomepageType">
		<xsd:complexContent>
			<xsd:extension base="BasePageObjectType">
				<xsd:attribute name="homeUrl" type="xsd:string"></xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="RegularPageType">
		<xsd:complexContent>
			<xsd:extension base="BasePageObjectType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="BaseTestStepType" abstract="true">
		<xsd:complexContent>
			<xsd:extension base="beans:identifiedType">
				<!-- Here we re-use Spring elements and attributes -->
				<xsd:group ref="beans:beanElements" />
				<xsd:attributeGroup ref="beans:beanAttributes" />
				<xsd:attribute name="targetStep" type="xsd:boolean"
					use="required" />
				<xsd:attribute name="stepName" type="xsd:string" use="required" />
				<xsd:attribute name="stepDescription" type="xsd:string" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="BaseERValueType">
		<xsd:complexContent>
			<xsd:extension base="beans:identifiedType">
				<!-- Here we re-use Spring elements and attributes -->
				<xsd:group ref="beans:beanElements" />
				<xsd:attributeGroup ref="beans:beanAttributes" />
				<xsd:attribute name="stepERDao" type="xsd:string" use="required">
					<xsd:annotation>
						<xsd:appinfo>
							<tool:annotation kind="ref">
								<tool:expected-type
									type="org.bigtester.ate.model.data.dao.StepExpectedResultDaoImpl" />
							</tool:annotation>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="BaseInputDataValueType">
		<xsd:complexContent>
			<xsd:extension base="beans:identifiedType">
				<!-- Here we re-use Spring elements and attributes -->
				<xsd:group ref="beans:beanElements" />
				<xsd:attributeGroup ref="beans:beanAttributes" />
				<xsd:attribute name="strDataValue" type="xsd:string" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="PagePropertyCorrectnessAsserterType">
		<xsd:complexContent>
			<xsd:extension base="beans:identifiedType">
				<xsd:group ref="beans:beanElements" />
				<xsd:attributeGroup ref="beans:beanAttributes" />
				<xsd:attribute name="resultPage" type="xsd:string"
					use="required">
					<xsd:annotation>
						<xsd:appinfo>
							<tool:annotation kind="ref">
								<tool:expected-type
									type="org.bigtester.ate.model.page.page.IPageObject" />
							</tool:annotation>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="stepERValue" type="xsd:string"
					use="required">
					<xsd:annotation>
						<xsd:appinfo>
							<tool:annotation kind="ref">
								<tool:expected-type
									type="org.bigtester.ate.model.data.StepExpectedResultValue" />
							</tool:annotation>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="InputDataValueParentType">
		<xsd:complexContent>
			<xsd:extension base="beans:identifiedType">
				<!-- Here we re-use Spring elements and attributes -->
				<xsd:group ref="beans:beanElements" />
				<xsd:attributeGroup ref="beans:beanAttributes" />
				<xsd:attribute name="elementDataDao" type="xsd:string"
					use="required">
					<xsd:annotation>
						<xsd:appinfo>
							<tool:annotation kind="ref">
								<tool:expected-type
									type="org.bigtester.ate.model.data.dao.ElementInputDataDaoImpl" />
							</tool:annotation>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="StepInputDataValueType">
		<xsd:complexContent>
			<xsd:extension base="beans:identifiedType">
				<xsd:group ref="beans:beanElements" />
				<xsd:attributeGroup ref="beans:beanAttributes" />
				<xsd:attribute name="dataValueID" type="xsd:long" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="StepExpectedResultValueType">
		<xsd:complexContent>
			<xsd:extension base="beans:identifiedType">
				<xsd:group ref="beans:beanElements" />
				<xsd:attributeGroup ref="beans:beanAttributes" />
				<xsd:attribute name="dataValueID" type="xsd:string" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="PageElementExistenceAsserterType">
		<xsd:complexContent>
			<xsd:extension base="beans:identifiedType">
				<xsd:group ref="beans:beanElements" />
				<xsd:attributeGroup ref="beans:beanAttributes" />
				<xsd:attribute name="resultPage" type="xsd:string"
					use="required">
					<xsd:annotation>
						<xsd:appinfo>
							<tool:annotation kind="ref">
								<tool:expected-type
									type="org.bigtester.ate.model.page.page.IPageObject" />
							</tool:annotation>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="stepERValue" type="xsd:string"
					use="required">
					<xsd:annotation>
						<xsd:appinfo>
							<tool:annotation kind="ref">
								<tool:expected-type
									type="org.bigtester.ate.model.data.StepExpectedResultValue" />
							</tool:annotation>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="ElementFindByIdType">
		<xsd:complexContent>
			<xsd:extension base="beans:identifiedType">
				<xsd:attribute name="findByValue" type="xsd:string" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="ElementFindByXpathType">
		<xsd:complexContent>
			<xsd:extension base="beans:identifiedType">
				<xsd:attribute name="findByValue" type="xsd:string" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>


	<xsd:complexType name="ClickActionType">
		<xsd:complexContent>
			<xsd:extension base="beans:identifiedType">
				<xsd:group ref="beans:beanElements" />
				<xsd:attributeGroup ref="beans:beanAttributes"></xsd:attributeGroup>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>


	<xsd:complexType name="SendKeysActionType">
		<xsd:complexContent>
			<xsd:extension base="beans:identifiedType">
				<xsd:group ref="beans:beanElements" />
				<xsd:attributeGroup ref="beans:beanAttributes"></xsd:attributeGroup>
				<xsd:attribute name="dataValue" type="xsd:string" use="required">
					<xsd:annotation>
						<xsd:appinfo>
							<tool:annotation kind="ref">
								<tool:expected-type
									type="org.bigtester.ate.model.data.IStepInputData" />
							</tool:annotation>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="RunTimeDataHolderType">
		<xsd:complexContent>
			<xsd:extension base="beans:identifiedType">
				<xsd:group ref="beans:beanElements" />
				<xsd:attributeGroup ref="beans:beanAttributes"></xsd:attributeGroup>
				<xsd:attribute name="dataValue" type="xsd:string"></xsd:attribute>
				<xsd:attribute name="pageHtmlLeftBoundry" type="xsd:string"></xsd:attribute>
				<xsd:attribute name="pageHtmlRightBoundry" type="xsd:string"></xsd:attribute>
				<xsd:attribute name="page" type="xsd:string">
					<xsd:annotation>
						<xsd:appinfo>
							<tool:annotation kind="ref">
								<tool:expected-type
									type="org.bigtester.ate.model.page.page.IPageObject" />
							</tool:annotation>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="dataType" use="required">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:enumeration value="Text" />
							<xsd:enumeration value="Number" />
							<xsd:enumeration value="Date" />
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="MyWebElementType">
		<xsd:complexContent>
			<xsd:extension base="beans:identifiedType">
				<xsd:group ref="beans:beanElements" />
				<xsd:attributeGroup ref="beans:beanAttributes"></xsd:attributeGroup>
				<xsd:attribute name="elementFind" type="xsd:string"
					use="required" />
				<xsd:attribute name="elementAction" type="xsd:string"
					use="required" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="HomeStepType">
		<xsd:complexContent>
			<xsd:extension base="BaseTestStepType">
				<xsd:attribute name="myWebElement" type="xsd:string">
					<xsd:annotation>
						<xsd:appinfo>
							<tool:annotation kind="ref">
								<tool:expected-type
									type="org.bigtester.ate.model.page.page.MyWebElement" />
							</tool:annotation>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="pageObject" type="xsd:string"
					use="required">
					<xsd:annotation>
						<xsd:appinfo>
							<tool:annotation kind="ref">
								<tool:expected-type
									type="org.bigtester.ate.model.page.page.IHomePage" />
							</tool:annotation>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="ElementStepType">
		<xsd:complexContent>
			<xsd:extension base="BaseTestStepType">
				<xsd:attribute name="myWebElement" type="xsd:string"
					use="required">
					<xsd:annotation>
						<xsd:appinfo>
							<tool:annotation kind="ref">
								<tool:expected-type
									type="org.bigtester.ate.model.page.page.MyWebElement" />
							</tool:annotation>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="pageObject" type="xsd:string">
					<xsd:annotation>
						<xsd:appinfo>
							<tool:annotation kind="ref">
								<tool:expected-type
									type="org.bigtester.ate.model.page.page.IPageObject" />
							</tool:annotation>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="LastStepType">
		<xsd:complexContent>
			<xsd:extension base="BaseTestStepType">
				<xsd:attribute name="myWebElement" type="xsd:string">
					<xsd:annotation>
						<xsd:appinfo>
							<tool:annotation kind="ref">
								<tool:expected-type
									type="org.bigtester.ate.model.page.page.MyWebElement" />
							</tool:annotation>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="pageObject" type="xsd:string"
					use="required">
					<xsd:annotation>
						<xsd:appinfo>
							<tool:annotation kind="ref">
								<tool:expected-type
									type="org.bigtester.ate.model.page.page.IPageObject" />
							</tool:annotation>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:group name="testStepGroup">
		<xsd:sequence>
			<xsd:element ref="runTimeDataHolder" minOccurs="0"
				maxOccurs="unbounded" />
			<xsd:element ref="homeStep" minOccurs="1" maxOccurs="unbounded" />
			<xsd:element ref="elementStep" minOccurs="0" maxOccurs="unbounded" />
			<xsd:element ref="lastStep" minOccurs="1" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:group>

	<xsd:complexType name="TestCaseType">
		<xsd:complexContent>
			<xsd:extension base="beans:identifiedType">
				<!-- Here we re-use Spring elements and attributes -->
				<xsd:group ref="testStepGroup" />
				<xsd:attribute name="testCaseName" type="xsd:string"
					use="required" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="elementFindById" type="ElementFindByIdType" />
	<xsd:element name="elementFindByXpath" type="ElementFindByXpathType" />
	<xsd:element name="clickAction" type="ClickActionType">
	</xsd:element>
	<xsd:element name="sendKeysAction" type="SendKeysActionType" />
	<xsd:element name="myWebElement" type="MyWebElementType">
	</xsd:element>
	<xsd:element name="elementStep" type="ElementStepType" />
	<xsd:element name="baseElementAction" type="BaseElementActionType" />

	<xsd:element name="baseERValue" type="BaseERValueType" />
	<xsd:element name="baseInputDataValue" type="BaseInputDataValueType" />
	<xsd:element name="pagePropertyCorrectnessAsserter" type="PagePropertyCorrectnessAsserterType" />
	<xsd:element name="pageElementExistenceAsserter" type="PageElementExistenceAsserterType" />
	<xsd:element name="stepExpectedResultValue" type="StepExpectedResultValueType" />
	<xsd:element name="stepInputDataValue" type="StepInputDataValueType" />
	<xsd:element name="stepInputDataValueParent" type="InputDataValueParentType" />

	<xsd:element name="testCase" type="TestCaseType" />
	<xsd:element name="lastStep" type="LastStepType" />
	<xsd:element name="homeStep" type="HomeStepType" />
	<xsd:element name="basePageObject" type="BasePageObjectType" />
	<xsd:element name="basePageModel" type="PageModelBaseType" />
	<xsd:element name="fireFoxDriver" type="MyFireFoxDriverType" />
	<xsd:element name="lastPage" type="LastpageType" />
	<xsd:element name="homePage" type="HomepageType" />
	<xsd:element name="regularPage" type="RegularPageType" />

	<xsd:element name="runTimeDataHolder" type="RunTimeDataHolderType" />

</xsd:schema>